.AppDarkMode {
  background-color: #212121;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 95vw;

}

.AppLightMode {
  background-color: #e7c6e0;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 95vw;

}

.HeaderDarkMode {
  background-color: #212529;
}

.HeaderLightMode {
  background-color: #f0d3ea;
}

.InputDarkMode {
  background-color: #212121 !important;
  color: #ffffff !important;
}

.InputLightMode {
  background-color: #ffffff !important;
  color: #212121 !important;
}

.Button {
  margin: 2px;
}

.ButtonLightMode {
  background-color: #3c1c3c !important;
  color: #ffffff !important;
}

.ButtonDarkMode {
  background-color: #e5c6e0 !important; 
  color: #212529 !important
}

.DropdownText {
  color: #ffffff !important;
}

.IconMode{
  width: 20px;
  height: 20;
}

.IconLightFill path{
  fill: #e5c6e0
}

.IconDarkFill path{
  fill: #3c1c3c
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  ;
}

.App-link {
  color: #61dafb;
}

.justify-content-end {
  justify-content: end;
  align-items: end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.searchInput {
  margin: 0.5rem;
  max-width: 20rem;
}

.logo {
  height: 2.5rem
}

.Offcanvas {
  background-color: #212121;
  color: #ffffff
}